<p>
  A bunch of recent/ongoing projects.
</p>

<ul class="projectlist">
  {{#each projects }}
  <li class="project">
    <div>
      <a class="project__image" href="{{ url }}">
        <img src="/images/{{ img }}" alt="{{ img_alt }}" style="background-color: #{{ color }}">
      </a>
    </div>
    <div class="project__description">
      <a class="project__name" href="{{ url }}">{{ name }}</a>
      <div>
        {{ description }}
      </div>
    </div>
  </li>
  {{/each}}
</ul>

<p>
  See more at <a href="https://github.com/mlcdf">github.com/mlcdf</a>.
</p>